@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(fonts\ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(fonts\ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  gap: 30px;
  height: 64px;
}

.navigation {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0;
gap: 30px;
width: 507px;
}
.navigation-logo {
  width: 138px;
}
.navigation-about {
  width: 339px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.navigation-link-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-decoration: none;
}
.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.user-menu {
  width: 268px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}
.user-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 88px;
  justify-content: space-between;
}
.user-link {
  text-decoration: none;
}
.user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}


.hero {
  min-height: 485px;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-logo {
  position: relative;
  left: 30.92%;
  right: 30.92%;
  top: 6.65%;
  bottom: 47.46%;
}


.sedona {
  max-width: 620px;
  margin: 0 auto;
}
.sedona-causes {
  max-width: 651px;
  margin: 0 auto;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


ul {
  list-style-type: none;
}


.sedona-title,
.visit-title,
.search-title,
.index-subscription-title,
.catalog-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.sedona-causes,
.visit-causes,
.search-description,
.index-subscription-description,
.catalog-subscription-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item,
.infrastructure-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-city,
.advantages-item-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.infrastructure-item-food {
  background-color:#FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.advantages-title,
.infrastructure-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
}

.advantages-description,
.infrastructure-description {
  text-align: center;
  max-width: 230px;
}

.infrastructure-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.visit-title {
  max-width: 505px;
  margin: 0 auto;
}
.visit-causes {
  max-width: 490px;
  margin: 0 auto;
}


.search-title {
  max-width: 297px;
  margin: 0 auto;
}
.search-description {
  max-width: 592px;
  margin: 0 auto;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.index-subscription {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 415px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container-subscription {
  padding: 96px 258px 104px;
  max-width: 684px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.index-subscription-title,
.catalog-subscription-title {
  max-width: 404px;
  margin: 0 auto;
}
.index-subscription-description,
.catalog-subscription-description {
  max-width: 475px;
  margin: 0 auto;
}
.subscription-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.field{
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
}
.subscription-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 232px;
  height: 52px;
}
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  padding: 40px 70px 30px;
}
.footer-phonenumber {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.hotels-search {
  background-image: url("../images/catalog/filters-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 70px;

}
.inner-header {
  display: block;
  padding: 0;
  margin: 0;
  max-width: 1060px;
  margin-bottom: 40px;
  list-style-type: none;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto;

}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  gap: 10px;
  max-width: 114px;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  max-width: 1060px;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  line-height: 23px;
}
.catalog-filter-group-fieldset {
  max-width: 288px;
}
.catalog-filter-list-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 288px;
  margin-left: 140px;
  margin-top: 40px;
}
.button-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.apply-button  {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
}

.reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
}

.found-sort{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  max-width: 1060px;
}
.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.found-control {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-types-button {
  border: 2px solid black;
  border-radius: 4px;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}
.hotel-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotel-type-and-price,
.hotel-buttons-set,
.hotel-stars-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
}

.info-button {
  background-color: #756157;
}
.favorites-button {
  background-color: #7DB54F;
}
.to_favorites-button {
  background-color: #82B3D3;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
}

.catalog-field {
  background-color: #F2F2F2;
}
