@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  gap: 30px;
  height: auto;
}
.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 46px;
  width: calc(100% - 270px);
  min-height: 64px;
}
.navigation-logo {
  width: 138px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.navigation-list {
  margin: 0 0 0 184px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 138px);
  padding: 0;
  list-style-type: none;
  max-width: 600px;
  flex-wrap: wrap;
}
.navigation-item {
  display: flex;
  height: 64px;
  position: relative;
  margin-right: 32px;
}
.navigation-link {
  padding: 20px 0;
  display: flex;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-decoration: none;
}
.navigation-item--current::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #756257;
}
.user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.user-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style-type: none;
  margin: 0 24px;
}
.user-link {
  text-decoration: none;
  position: relative;
  display: flex;
  width: 38px;
  height: 38px;
  padding: 2px;
}
.user-link:hover {
  opacity: .6;
}
.user-link:active {
  opacity: .3;
}
.user-link:focus {
  opacity: .3;
}
.user-link--like {
  background: url("../images/favorites.svg") no-repeat center;
}
.user-link--search {
  background: url("../images/search.svg") no-repeat center;
}
.notification-badge {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 19px;
  top: 0;
  font-weight: 400;
  font-size: 10px;
  background: #7DB54F;
  border-radius: 50%;
  color: white;
  text-align: center;
}
.user-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 4px;
  min-width: 160px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
.brown-btn {
  background-color: #756157;
}
.brown-btn:hover {
  background-color: #615048;
}
.brown-btn:focus {
  outline: none;
  background-color: #615048;
}
.brown-btn:active {
  color: rgba(255, 255, 255, .3);
}
.brown-btn:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
}
.blue-btn {
  background-color: #82B3D3;
}
.blue-btn:hover {
  background-color: #68A2CA;
}
.blue-btn:focus {
  outline: none;
  background-color: #68A2CA;
}
.blue-btn:active {
  color: rgba(255, 255, 255, .3);
}
.blue-btn:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
}
.green-btn {
  background-color: #7DB54F;
}
.green-btn:hover {
  background-color: #6C9E42
}
.green-btn:focus {
  outline: none;
  background-color: #6C9E42
}
.green-btn:active {
  color: rgba(255, 255, 255, .3);
}
.green-btn:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
}
.welcome {
  min-height: 485px;
  background-color: #6282ab;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.welcome-logo {
  padding-top: 50px;
}
.welcome-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url("../images/divider.svg");
}
.sedona {
  max-width: 620px;
  margin: 0 auto;
}
.sedona-causes {
  max-width: 651px;
  margin: 0 auto;
}
.advantages-text {
  width: 230px;
  min-height: 160px;
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
}
.advantages-list {
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.sedona-title,
.visit-title,
.search-title,
.index-subscription-title,
.catalog-subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  padding: 69px 30px 0;
  margin: 0 auto;
}
.sedona-causes,
.visit-causes,
.search-description,
.index-subscription-description,
.catalog-subscription-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 70px;
}
.search-description {
  padding-top: 21px;
  padding-bottom: 53px;
}
.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 385px;
}
.advantages-img {
  height: auto;
}
.advantages-item-city,
.advantages-item-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-title {
  margin: 0 0 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.infrastructure-title {
  margin: 0 30px 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.advantages-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 60px;
  bottom: -32px;
  left: calc(50% - 30px);
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
}
.advantages-title--small {
  margin-top: 11px;
}
.advantages-title--small::after {
  background: rgba(0, 0, 0, 0.3);
}
.advantages-description,
.infrastructure-description {
  text-align: center;
  max-width: 240px;
  margin: 0;
}
.infrastructure {
  margin: 0 auto;
  padding: 0;
}
.infrastructure-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.infrastructure-item {
  position: relative;
  padding: 183px 20px 79px;
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 123px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.infrastructure-image {
  position: absolute;
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
}
.infrastructure-item-food {
  background-color:#FFFFFF;
}
.visit-title {
  max-width: 505px;
  margin: 0 auto;
  padding-top: 64px;
}
.visit-causes {
  max-width: 490px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 64px;
}
.interested-search {
  width: 592px;
  margin: 0 auto;
  padding: 27px 304px;
}
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  max-width: 276px;
}
.index-subscription {
  margin-top: 69px;
  padding-top: 96px;
  background-color: #6282ab;
  background-image: url("../images/subscribtion.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #FFFFFF;
  min-height: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-subscription {
  margin: 155px 0 102px;
}
.index-subscription-title,
.catalog-subscription-title {
  max-width: 404px;
  margin: 0 auto;
  padding: 0;
}
.index-subscription-description,
.catalog-subscription-description {
  max-width: 475px;
  margin: 20px auto 0;
  padding: 0;
}
.subscription-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 53px;
}
.field {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 412px;
  height: 24px;
  border-radius: 4px 0 0 4px;
  border: 0;
  padding: 14px 20px;
  background-color: #F2F2F2;
}

.field::placeholder {
  font-weight: 400;
}
.field:hover {
  background-color: #e6e6e6;
}
.field:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: #e6e6e6;
}
.field:not(:placeholder-shown):focus {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}
.field:active {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}

.subscription-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: 0;
  width: 232px;
  height: 52px;
}
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 47px 70px 30px;
}
.footer-social-list {
  width: 142px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}
.footer-social-item:hover svg {
  fill: #68A2CA;
}
.footer-social-item:active {
  fill: #68A2CA;
  opacity: .3;
}
.footer-phonenumber {
  text-decoration: none;
  color: #000000;
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
.footer-phonenumber:hover {
  color: #756157;
}
.footer-phonenumber:focus {
  outline-color: #756157;
  color: #756157;
}
.footer-phonenumber:focus-visible {
  outline-color: #756157;
  color: #756157;
}
.footer-phonenumber:active {
  color: rgba(117, 97, 87, 0.3)
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotels-search {
  background-color: #6282ab;
  background-image: url("../images/catalog/filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 0 70px;
  min-height: 307px;
  box-sizing: border-box;
}
.inner-header {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 70px;
}
.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3px 62px 37px;
  padding: 0;
  list-style-type: none;
}
.breadcrumbs-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumbs-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  height: 30px;
}
.breadcrumbs-item--arrow {
  width: 8px;
  height: 11px;
  background: url("../images/arrow-right.svg") no-repeat center;
  margin-right: 11px;
}
.catalog-hotels {
  padding: 0 70px;
}
.catalog-filter {
  display: flex;
  padding: 0;
}
.catalog-filter-group {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
}
.catalog-filter-group-infrastructure {
  margin-right: 65px;
}
.catalog-filter-group-housetype {
  margin-right: 150px;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 32px 0;
}
.control {
  padding-left: 37px;
  position: relative;
}
.control-input+.checkbox-indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  background-repeat: no-repeat;
  tab-index: 0;
}
.control-input:focus+.checkbox-indicator {
  outline: 3px solid #83B3D3;
}
.control-input:checked+.checkbox-indicator {
  background: white url("../images/checked.svg") no-repeat center;
}
.control-input {
  line-height: 23px;
}
.control-input--radio+.checkbox-indicator {
  border-radius: 50%;
}
.control-input--radio:checked+.checkbox-indicator {
  background: white url("../images/circle.svg") no-repeat center;
}
.control-input--radio:focus+.checkbox-indicator {
  outline: 3px solid #83B3D3;
}
.catalog-filter-item:hover {
  opacity: .6;
}
.catalog-filter-item:active {
  opacity: .3;
}
.catalog-filter-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 19px;
}
.catalog-filter-group-price {
  margin-right: 67px;
  flex-direction: column;
}
.price {
  width: 292px;
  margin: 0 0 32px 0;
  border: none;
  padding: 0;
}
.range-wrapper-fields {
  position: relative;
  display: flex;
  gap: 2px;
}
.range-wrapper-field::placeholder {
  font-weight: 400;
}
.range-wrapper-field:hover {
  background-color: #e6e6e6;
}
.range-wrapper-field:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: #e6e6e6;
}
.range-wrapper-field:not(:placeholder-shown):focus {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}
.range-wrapper-field:active {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}
.range-wrapper-field-left {
  padding: 0 42px 0 21px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  width: 80px;
  height: 48px;
  border: none;
}
.range-wrapper-field-right {
  padding: 0 42px 0 21px;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border-radius: 0 4px 4px 0;
  width: 80px;
  height: 48px;
  border: none;
}
.button-set {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 58px 0 0;
}
.apply-button  {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  height: 36px;
  cursor: pointer;
  margin-bottom: 32px;
}
.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  min-width: 191px;
  min-height: 36px;
  cursor: pointer;
}
.reset-button:hover {
  opacity: .6;
}
.reset-button:focus {
  border: 3px solid #83B3D3;
}
.reset-button:active {
  border: none;
  opacity: .3;
}
.reset-button:disabled {
  opacity: 0.1;
}
.found-sort{
  display: flex;
  align-items: center;
  margin: 49px 0 0;
  padding: 0 70px;
}
.found {
  display: flex;
  max-width: 500px;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.found-control {
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  margin: 0 0 0 auto;
  min-height: 49px;
  padding: 12px 40px 12px 18px;
  -webkit-appearance: none;
  background-color: #FFFFFF;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}
.found-control:hover {
  border-color: #68A2CA;
}
.found-control:focus {
  border-color: #68A2CA;
  outline: none;
}
.view-types {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
  margin-left: 70px;
  gap: 8px;
}
.view-types-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  padding: 14px 12px;
}

.view-types-button:focus {
  outline: none;
  border: 2px solid #68A2CA;
}
.view-types-button:active,
.view-types-button:hover {
  border: 2px solid #000000;
}
.view-types-button-active {
  border: 2px solid #000000;
}
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 70px;
  padding-right: 70px;
  gap: 18px;
  margin: 40px 0 36px;
}
.hotel-card {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
}
.hotel-type-and-price,
.hotel-buttons-set,
.hotel-stars-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  gap: 20px;
}
.hotel-type-and-price {
  margin-top: auto;
  margin-bottom: 16px;
}
.hotel-stars-rating {
  margin-top: 20px;
}
.hotel-price {
  margin: 16px 0 0;
  width: 40%;
  text-align: right;
}
.hotel-type {
  margin: 16px 0 0;
  width: 60%;
}
.hotel-card-link {
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 0;
  box-sizing: border-box;
}
.hotel-card-button {
  width: 100%;
  padding: 6px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
}
.info-button {
  background-color: #756157;
}
.favorites-button {
  background-color: #7DB54F;
}
.to_favorites-button {
  background-color: #82B3D3;
}
.hotel-card-rating {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  min-width: 140px;
  height: 37px;
  margin: 0;
}
.pagination {
  display: flex;
  justify-content: flex-start;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0 0;
  border-top: 1px solid #E6E6E6;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 16px;
}
.catalog-field {
  background-color: #F2F2F2;
}
.range-wrapper-label {
  position: relative;
}
.range-wrapper-fields-text {
  position: absolute;
  top: 15px;
  right: 21px;
  z-index: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0,0,0, 0.3)
}
.range-wrapper-slider {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 43px;
}
.range-thumb {
  display: flex;
  position: absolute;
  top: -8px;
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 2px solid transparent;
}
.range-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.range-thumb:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}
.range-thumb:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.thumb-max {
  right: calc(25% - 10px);
}
.range-track {
  display: flex;
  position: absolute;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #FFFFFF 75%, rgba(255,255,255, .3) 25%);
}
.hotel-card-title {
  margin: 10px 0 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-card-stars {
  display: flex;
  width: 100%;
}
.hotel-card-star {
  background: url("../images/star.svg") no-repeat center;
  width: 19px;
  height: 21px;
  margin-right: 5px;
}
.button:focus {
  outline: none;
}
.button:focus svg {
  fill: #68A2CA;
}
.footer-logo:hover path {
  fill: #756157;
}
.footer-logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}
.footer-logo:focus {
  opacity: .3;
}
.footer-logo:focus path {
  fill: #756157;
}
.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}
.modal {
  position: relative;
  margin: auto;
}
.modal-auth {
  width: 717px;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #ffffff;
  padding: 64px 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background-color: #f2f2f2;
  cursor: pointer;
  padding: 0;
}
.modal-close-icon {
  fill: #000000;
  width: 14px;
  height: 14px;
}
.modal-close-button:hover {
  background-color: #e6e6e6;
}
.modal-close-button:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.5);
}
.modal-title {
  font: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 50px 64px 0;
}
.modal-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 247px 88px 242px;
  grid-template-columns: 247px 242px;
  -webkit-column-gap: 88px;
  -moz-column-gap: 88px;
  column-gap: 88px;
  row-gap: 23px;
}
.modal-form-label {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.modal-form-field {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 119px 18px 440px;
  grid-template-columns: 119px 440px;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  width: 577px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.button-modal {
  grid-column: 1/-1;
  padding: 18px;
  margin-top: 25px;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
.modal-form-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}
.modal-form-date {
  width: 440px;
  line-height: 24px;
  padding: 12px 60px 12px 20px;
  background-color: #f2f2f2;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  border: none;
  border-radius: 4px;
}
.modal-form-input::placeholder {
  font-weight: 400;
}
.modal-form-input:hover {
  background-color: #e6e6e6;
}
.modal-form-input:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  background-color: #e6e6e6;
}
.modal-form-input:not(:placeholder-shown):focus {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}
.modal-form-input:active {
  outline: 2px solid rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}
.modal-form-input:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}
.modal-form-text {
  grid-column: 2/-1;
  padding-left: 20px;
  padding-top: 4px;
  font-size: 16px;
}
.text-warning {
  color: #ff5757;
}
.modal-form-number {
  width: 110px;
  line-height: 20px;
  padding: 14px 35px;
  text-align: center;
  -moz-appearance: textfield;
}
.modal-form-number::after {
  position: absolute;
}

.modal-form-number::-webkit-outer-spin-button,
.modal-form-number::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.modal-form-button {
  width: 40px;
  height: 48px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.button-minus {
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 71px;
  padding: 3px;
}
.button-plus {
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 0;
}
.button-icon {
  fill: rgba(117, 97, 87, 0.3);
}
.modal-form-button:hover .button-icon {
  fill: #000000;
}
.modal-form-button:focus .button-icon {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  fill: #000000;
}
.modal-form-button:focus {
  outline: none;
}
.modal-form-button:active .button-icon {
  fill: rgba(117, 97, 87, 0.3);
}
.modal-form-number::-webkit-outer-spin-button,
.modal-form-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.tooltip-text {
  display: none;
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 256px;
  border-radius: 10px;
  padding: 17px 20px;
  position: absolute;
  right: 50%;
  margin-right: -128px;
  top: 41px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: block;
}
.tooltip-toggle:focus {
  outline: none;
}
.tooltip-text::after {
  content: "";
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  right: 50%;
  margin-right: -10px;
}
.form-label-icon {
  position: relative;
}
.tooltip {
  position: absolute;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}
.modal-container-close {
  display: none;
}

.button-social:focus {
  outline: 3px solid #68A2CA;
}
